body {
	background: #fefefe ;
	color: #444 ;
	max-width: 800px ;
	margin: auto ;
	padding: 0 16px ;
	font-family: 'Open Sans', sans-serif ;
}

nav {
  display: flex ;
  justify-content: space-between ;
  align-items: center ;
  line-height: 60px ;
}

nav ul {
  list-style: none ;
  padding: 0px ;
}

nav ul li {
  display: inline ;
  margin: 5px ;
}

nav a {
  color: inherit ;
  text-decoration: inherit ;
}

img#profile {
  max-height: 200px ;
}

h1 {
  font-size: 1.75em ;
}

h2 {
  font-size: 1.50em ;
}

code {
  font-size: 1em ;
  background-color: #E4E6E8 ;
}

div#container {
  height: 175px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;

  /* prevent small screens from making rightmost div overflow */
  min-width: 612px;
}

div.lang {
  width: 150px;
  height: 175px;
  display: inline-block;
}

/* equiv to :after. makes divs evenly spaced and left/rightmost hug walls */
.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

div.imgWrap {
  width: 150px ;
  height: 150px ;

  display: flex;
  justify-content: center ;

  /* keep aspect ratio */
  align-items: center ;
}

img {
  max-height: 100% ;
  max-width: 100% ;
}

div.langTitle {
  text-align: center ;
  font-weight: bold ;
}


footer {
  padding-top: 25px ;
}
