html {
  box-sizing: border-box ;
}

*, *:before, *:after {
  box-sizing: inherit ;
}

body {
	background: #fefefe ;
	color: #444 ;
	max-width: 800px ;
	margin: auto ;
	padding: 0 16px ;
	font-family: 'Open Sans', sans-serif ;
}

nav {
  display: flex ;
  justify-content: space-between ;
  align-items: center ;

  border-bottom-style: solid ;
  border-bottom-width: 1px ;
  margin-bottom: 30px ;
}

nav ul {
  list-style: none ;
  padding: 0px ;
}

nav ul li {
  display: inline ;
  margin: 5px ;
}

nav a {
  color: inherit ;
  text-decoration: inherit ;
}

img#profile {
  max-height: 200px ;
}

h1 {
  font-size: 1.75em ;
}

h2 {
  font-size: 1.50em ;
}

code {
  font-size: 1em ;
  background-color: #E4E6E8 ;
}

/********************* PROGRAMMING LANGUAGE SECTION **************************/
div.langContainer {
  height: 175px ;
  text-align: justify ;
  -ms-text-justify: distribute-all-lines ;
  text-justify: distribute-all-lines ;

  /* prevent small screens from making rightmost div overflow */
  min-width: 660px ;
}

div.lang {
  width: 150px ;
  height: 175px ;
  display: inline-block ;
}

/* equiv to :after. makes divs evenly spaced and left/rightmost hug walls */
.stretch {
  width: 100%;
  display: inline-block ;
  font-size: 0 ;
  line-height: 0 ;
}

div.langImgWrap {
  width: 150px ;
  height: 150px ;

  display: flex ;
  justify-content: center ;

  /* keep aspect ratio */
  align-items: center ;
}

img {
  max-height: 100% ;
  max-width: 100% ;
}

div.langTitle {
  text-align: center ;
  font-weight: bold ;
}
/******************** END PROGRAMMING LANGUAGE SECTION ***********************/


/***************************** BOOK SECTION **********************************/
div.bookContainer {
  height: auto ;
  text-align: justify ;
}

div.book {
  width: 300px auto ;
  height: 300px auto ;
  display: inline-block ;
}

p.bookSection {
  font-size: 1.50em ;
  font-weight: bold ;
  margin-block-start: 0 ;
  margin-block-end: 0.83em;
  text-align: center ;
}

div.bookImgWrap {
  width: 250px ;
  height: 250px ;
  
  display: flex ;
  justify-content: center ;

  /* keep aspect ratio */
  align-items: center ;
}
/**************************** END BOOK SECTION *******************************/


footer {
  margin-top: 50px ;
  padding: 25px 10px ;
  border-top-style: solid ;
  border-top-width: 1px ;
}
